body {
    background-color: #f0f8ff; /* Cor suave */
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #2a52be; /* Azul escuro */
    text-align: center;
}

p {
    font-size: 18px;
    text-align: justify;
}

ul li {
    margin-bottom: 10px;
}

img {
    border-radius: 10px;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 20px auto;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

a {
    color: #1a0dab;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
}

a:hover {
    color: #d23f31;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
